// dark mode


//postwoman theme
$black-background:#202123;
$black-container: #1d1e1f;
$black-field: #1a1b1c;
$grey-navbar: #242527;
$grey-font: #e8e8e9;
$green: #50FA7B;

//yodelay yellow theme
$Yblack-background: #181e23;
$Ygrey-navbar: #232b33;
$Yblue-font: #a6e0db;
$yellow: #f9c132;


//common
$disabled: #969696;
