@import 'colours';

//NOT AFFECTED BY THEME
.home-button {
  height: 70px;
  width: 70px;
  background-image: url("dog_vector.svg");
  background-repeat: no-repeat;
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.upload-proto-button-grey {
  height: 50px;
  width: 50px;
  background-image: url("upload_grey.svg");
  background-repeat: no-repeat;
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 5px;
}

.upload-proto-button-light {
  height: 50px;
  width: 50px;
  background-image: url("upload_light.svg");
  background-repeat: no-repeat;
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 5px;
}

.settings-button-grey {
  height: 50px;
  width: 50px;
  background-image: url("settings_grey.svg");
  background-repeat: no-repeat;
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 5px;
}

.settings-button-light {
  height: 50px;
  width: 50px;
  background-image: url("settings_light.svg");
  background-repeat: no-repeat;
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 5px;
}

.github-button {
  height: 50px;
  width: 50px;
  background-image: url("github_grey.svg");
  background-repeat: no-repeat;
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  margin-top: 10px;
}

.twitter-button {
  height: 50px;
  width: 50px;
  background-image: url("twitter_grey.svg");
  background-repeat: no-repeat;
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  margin-top: 12px;
}

.send-button {
  height: 24px;
  width: 24px;
  background-image: url("sendreq_grey.svg");
  background-repeat: no-repeat;
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  margin-left: 15px;
}

.push-button {
  height: 25px;
  width: 25px;
  background-image: url("adddata2_grey.svg");
  background-repeat: no-repeat;
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  margin-left: 5px;
}

.pause-button {
  height: 24px;
  width: 24px;
  background-image: url("endstream_grey.svg");
  background-repeat: no-repeat;
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  margin-left: 5px;
}

.push-button {
  height: 23px;
  width: 23px;
  background-image: url('play_circle_filled_white_white_24x24.png');
  background-repeat: no-repeat;
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
}

.pause-button {
  height: 23px;
  width: 23px;
  background-image: url('pause_circle_filled_white_24x24.png');
  background-repeat: no-repeat;
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // background: rgba(0, 0, 0, 0.6);
  // background-color: '#fff';
  // z-index: 99;
  padding: 50;
}

.modal-main {
  position: fixed;
  background: $black-background;
  width: 50%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(0%, -40%);
  color: $white-field;
  overflow-x: auto;
  z-index: 99;
  padding: 30;
  margin: 0 auto;
  border-radius: 5;
  max-width: 500;
  min-height: 300;
}

.popup-on {
  display: block;
}

.popup-off {
  display: none;
}

//AFFECTED BY THEME
.viewProto-button-dark-yellow:hover {
  color: $yellow;
}

.viewProto-button-light-yellow:hover {
  color: $yellow;
}

.viewProto-button-dark-green:hover {
  color: $green;
}

.viewProto-button-dark-blue:hover {
  color: $blue;
}

.button-dark-yellow {
  height: 40px;
  width: 40px;
  background-image: url("theme-dark-yellow.svg");
  background-repeat: no-repeat;
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
}

.button-light-yellow {
  height: 40px;
  width: 40px;
  background-image: url("theme-light-yellow.svg");
  background-repeat: no-repeat;
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
}

.button-dark-green {
  height: 40px;
  width: 40px;
  background-image: url("theme-dark-green.svg");
  background-repeat: no-repeat;
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
}

.button-dark-blue {
  height: 40px;
  width: 40px;
  background-image: url("theme-dark-blue.svg");
  background-repeat: no-repeat;
  background-color: Transparent;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
}

.button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  color: $disabled;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

//NEEDS TO BE BELOW OTHER BUTTON TYPES
.header-button-dark-yellow {
  color: $grey-font;
  font-weight: 700;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
}

.header-button-dark-yellow:hover {
  color: $yellow;
}

.header-button-light-yellow {
  color: $disabled;
  font-weight: 700;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
}

.header-button-light-yellow:hover {
  color: $yellow;
}

.header-button-dark-green {
  color: $grey-font;
  font-weight: 700;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
}

.header-button-dark-green:hover {
  color: $green;
}

.header-button-dark-blue {
  color: $grey-font;
  font-weight: 700;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  cursor: pointer;
}

.header-button-dark-blue:hover {
  color: $blue;
}
