@import "colours";

.menu-options{
    // border: solid 1px green;
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}

.url-input{
    background-color: $black-field;
    color:$grey-font
}

// .service-dropdown-menu{

// }